body{
    
    text-align: center;
     background-image: linear-gradient(to top, #051937, #004d7a, #008793, #00bf72, #a8eb12);;
}
#button1{
   background-color: aqua;
   font-size: medium;
   font-weight: bold;
}
#button2{
background-color: #a8eb12;
font-size: medium;
font-weight: bold;
}
#image{
    color: #000;
    background-color: aqua;
    width: 50%; 
}
.textcolor{
    color: yellow;
    font-weight: bold;
}
#webcam{
    background-color: chartreuse;
   
   
}
#objectid{
    background-color: pink;
    width: 10%;
}
#Accuracyid{
    background-color: pink;
    width: 10%;
}